body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.icon{
  padding: 0.27em 0.5em;
  border: 2px solid #fff;
  color: #fff;
  margin:1em 0.5em;
}
.header{
  background-color: rgb(255, 103, 8);
  display: flex;
  height: 80px;
}
.ico{
  margin: 1em 0.5em;
}
.title{
  font-size: 1.3em;
  margin-top: 10px;
}
.navigation ul{
  display: flex;
  list-style-type: none;
  color: #000;
}
.navigation ul li a{
  color: #000;
  text-decoration: none;
  margin:0 1em;
  font-weight: bold;
}
.body{
  background-color: antiquewhite;
  margin-top: -1em;

}
.post{
  margin-top: -2em;
}
.container{
  margin: 1em auto;
  max-width: 1000px;
}
.post-title{
  display: flex;
  margin: 0 0.5em;
  
}
.post-title h3{ 
  font-weight: 600;
   padding-left: 3px;
   
}
.post-title p{
  color: rgb(116, 115, 115);
}
.website{
  padding-left: 5px;
  padding-top: 8px;
  font-size: 14px;
}
.id{
  padding-top: 5px;
}
.post-body{
  padding-left: 1.7em;
  margin-top: -2.2em;
  font-size: 12px;
  color: rgb(116, 115, 115);
  font-weight: 500;
}